<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .remito{
            /*background: url({{ asset('images/plantilla/plantilla-remito.png') }});
                background-repeat: no-repeat;*/
            font-size: 14px;
            font-family: monospace;
        }
        .datos-header{
            max-width: 100%;
        }
        .logo-empresa{
            margin-top: 40px;
            margin-left: 10px;
        }
        .header-remito-left{
            border: 2px solid;
            border-radius: 5px;
        }
        .header-remito-right{
            border: 2px solid;
            border-radius: 5px;
        }
        .datos-empresa{
            margin-top: 16px;
            line-height: 3mm;
        }
        .datos-remito{
            margin-top: 24px;
            line-height: 7.3mm;
            font-size: 20px;
        }
        .remito-title{
            text-align: center;
        }
        .remito-datos{
            text-align: right;
        }
        .datos-cliente{
            border: 2px solid;
            border-radius: 5px;
            margin-top: 10px;
            max-width: 100%;
            font-size: 18px;
        }
        .datos-productos{
            margin-top: 10px;
            padding: 0px;
        }

        .datos-productos-table{
            margin: 0px;
            font-size: 18px;
            width: 98%;
        }
    </style>
</head>

<body>
<div class="remito">
    <div class="row datos-header">
        <div class="col-md-8 header-remito-left">
            <div class="row">
                <div class="col-md-5 logo-empresa"><img src="{{ asset('images/logo/logo.png') }}" alt="logo" width="200" height="100"></div>
                <div class="col-md-6 datos-empresa">
                    <div class="row">
                        <div class="col-md-5">
                            <p><strong>RAZÓN SOCIAL</strong></p>
                            <p><strong>CUIT</strong> </p>
                            <p><strong>WEB</strong> </p>
                            <p><strong>DIRECCIÓN</strong></p>
                            <p><strong>LOCALIDAD</strong></p>
                            <p><strong>TELÉFONO</strong></p>
                        </div>
                        <div class="col-md-6">
                            <p> Baby Plant srl</p>
                            <p> 33-71230651-9</p>
                            <p> www.babyplant.com.ar</p>
                            <p> 44 4303</p>
                            <p> Lis. Olmos la Plata</p>
                            <p> 0221 15-669-0199</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="offset-md-1 col-md-3 header-remito-right">
            <div class="col-md-12 datos-remito">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="remito-title">RESERVA</h1>
                    </div>
                    <div class="col-md-5 remito-datos">
                        <p><strong>N°</strong></p>
                        <p><strong>FECHA</strong> </p>
                    </div>
                    <div class="col-md-6">
                        <p>{{ entity.id|default('00000') }}</p>
                        <p>{{ entity.fechaCreacion|date('d/m/Y') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row datos-cliente">
        <div class="col-md-12" style="padding-top: 10px;">
            <div class="row">
                <div class="offset-md-1 col-md-5">
                    <div class="row">
                        <div class="col-md-6" style="text-align: right">
                            <p><strong>CLIENTE</strong></p>
                            <p><strong>CUIT</strong> </p>
                        </div>
                        <div class="col-md-6">
                            <p>{{ entity.cliente.nombreCompleto|default('-') }}</p>
                            <p>{{ entity.cliente.cuit|default('-') }}</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6" style="text-align: right">
                            <p><strong>TELÉFONO</strong></p>
                            <p><strong>DIRECCION</strong></p>
                        </div>
                        <div class="col-md-6">
                            <p>{{ entity.cliente.telefono|default('') }}{{ entity.cliente.celular|default('-') }}</p>
                            <p>{{ entity.cliente.domicilio|default('-') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 datos-productos">
            <table class="datos-productos-table" border="2" cellpadding="5" cellspacing="0" align="center">
                <thead>
                <tr style="background-color: gainsboro;">
                    <th class="text-center">N° PRODUCTO</th>
                    <th class="text-center">PRODUCTO</th>
                    <th class="text-center">CANTIDAD</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="170" align="center">{{ entity.pedidoProducto.id }}</td>
                        <td width="395" align="center">{{ entity.pedidoProducto.productoBandeja }}</td>
                        <td width="144" align="center">{{ entity.cantidadBandejas }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>