{% extends 'base.html.twig' %}

{% set edit = form.vars.value.id != null %}

{% import 'app/_macro_form.html.twig' as macro_form %}

{% block body %}
	{{ form_start(form, {'attr': {'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}
	{% include ('app/_fields_errors.html.twig') %}

	<div class="card card-custom">
		<div class="card-header">
			<div class="card-title">
				<span class="card-icon">
					<i class="flaticon-search text-primary"></i>
				</span>
				<h3 class="card-label">Editar Usuario</h3>
			</div>
		</div>

		<div class="card-body">
			<div class="row">
				{{ macro_form._new_field(form.tipoUsuario, "col-md-4 tipo-usuario") }}
				{{ macro_form._new_field(form.email, "col-md-4 email-nombre-apelldio") }}
			</div>

			<div class="row">
				{{ macro_form._new_field(form.username, "col-md-3 user-password ") }}
				{{ macro_form._new_field(form.nombre, "col-md-3 email-nombre-apelldio") }}
				{{ macro_form._new_field(form.apellido, "col-md-3 email-nombre-apelldio") }}
				{{ macro_form._new_field(form.cuit, "col-md-3 datos-personales") }}
			</div>
			<div class="row">
				{{ macro_form._new_field(form.domicilio, "col-md-4 datos-personales") }}
				{{ macro_form._new_field(form.telefono, "col-md-4 datos-personales") }}
			</div>
			<div class="row">
				{{ macro_form._new_field(form.tieneRazonSocial, "col-md-3 datos-personales") }}
				{{ macro_form._new_field(form.razonSocial.razonSocial, "col-md-3 datos-personales razonSocial") }}
				{{ macro_form._new_field(form.razonSocial.cuit, "col-md-3 datos-personales razonSocial") }}
				<div class="col-md-3">
					<!-- Button trigger modal-->
					<button type="button" class="btn btn-success link-agregar-razonsocial" data-toggle="modal" data-target="#razonSocialModal" style="margin-top: 6%;">
						NUEVO RAZON SOCIAL
					</button>
				</div>
			</div>
			<div class="row grupo">
				{{ macro_form._new_field(form.grupos, "col-md-12") }}
			</div>
    	</div>
		<div class="card-footer d-flex justify-content-between">
			<a href="{{ path('usuario_index') }}" class="btn btn-light-dark font-weight-bold">Volver</a>
			{{ form_widget(form.submit) }}
		</div>
	</div>
	{{ form_widget(form._token) }}
	{{ form_end(form, {"render_rest": false}) }}

	<div class="modal fade" id="razonSocialModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-fullscreen-xl-down" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i aria-hidden="true" class="ki ki-close"></i>
					</button>
				</div>
				<div class="modal-body">
					{{ form_start(registrationForm, {'attr': {'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}
					{% include 'registration/_form.html.twig' with {'modal' : true} %}
					<input type="hidden" name="href" id="href" value="{{ path('app_register_ajax') }}">
					{{ form_widget(registrationForm._token) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
					{{ form_widget(registrationForm.submit) }}
				</div>
				{{ form_end(registrationForm, {"render_rest": false}) }}
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}
	<script src="{{ asset(__PREFIX_JAVASCRIPT__ ~ 'config/config-form.js') }}"></script>
	<script src="{{ asset(__PREFIX_JAVASCRIPT__ ~ 'app/usuario/new.js') }}"></script>

{% endblock %}