{% import 'app/_macro_form.html.twig' as macro_form %}
<div class="card card-custom">
    {% if not modal %}
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon"><i class="flaticon-search text-primary"></i></span>
            <h3 class="card-label">Crear usuario</h3>
        </div>
    </div>
    {% endif %}
    <div class="card-body">
        <div class="row">
            {{ macro_form._new_field(registrationForm.tipoUsuario, "col-md-4 tipo-usuario") }}
            {{ macro_form._new_field(registrationForm.email, "col-md-3 email-nombre-apelldio") }}

            {{ macro_form._new_field(registrationForm.username, "col-md-3 user-password ") }}
            {{ macro_form._new_field(registrationForm.plainPassword, "col-md-3 user-password") }}
            {{ macro_form._new_field(registrationForm.nombre, "col-md-3 email-nombre-apelldio") }}
            {{ macro_form._new_field(registrationForm.apellido, "col-md-3 email-nombre-apelldio") }}
            {{ macro_form._new_field(registrationForm.cuit, "col-md-3 datos-personales") }}

            {{ macro_form._new_field(registrationForm.domicilio, "col-md-3 datos-personales") }}
            {{ macro_form._new_field(registrationForm.celular, "col-md-2 datos-personales") }}

            {{ macro_form._new_field(registrationForm.tieneRazonSocial, "col-md-2 datos-personales") }}
            {{ macro_form._new_field(registrationForm.razonSocial, "col-md-3 datos-personales razonSocial") }}
            <div class="col-md-2 datos-personales razonSocial">
                <button type="button" class="btn btn-success link-agregar-razonsocial" style="margin-top: 18%;font-size: 11px">
                    NUEVA RAZON SOCIAL
                </button>
            </div>

        </div>
        <div class="row grupo">
            {{ macro_form._new_field(registrationForm.grupos, "col-md-12") }}
        </div>
    </div>

    {% if not modal %}
        <div class="card-footer d-flex justify-content-between">
            <a href="{{ path('usuario_index') }}" class="btn btn-light-dark font-weight-bold">Volver</a>
            {{ form_widget(registrationForm.submit) }}
        </div>
    {% endif %}
</div>