{% import 'app/_macro_form.html.twig' as macro_form %}
{{ form_start(form, {'attr': {'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}
{{ form_widget(form._token) }}
<div class="row">
    <div class="modal-body" style="padding-top: 0;padding-bottom: 0;">
        <div class="row">
            {% if not esAjuste %}
                {{ macro_form._new_field(form.modoPago, "col-md-6") }}
            {% endif %}
            {{ macro_form._new_field(form.monto, "col-md-6") }}
            {{ macro_form._new_field(form.pedido, "col-md-12") }}
            {{ macro_form._new_field(form.descripcion, "col-md-12") }}
            <input type="hidden" name="idReserva" id="idReserva" value="{{ idReserva }}">
            <input type="hidden" name="idCuentaCorrienteUsuario" id="idCuentaCorrienteUsuario" value="{{ idCuentaCorrienteUsuario }}">
            <input type="hidden" name="idCuentaCorrientePedido" id="idCuentaCorrientePedido" value="{{ idCuentaCorrientePedido }}">
            <input id="movimiento_token" type="hidden" name="token" value="{{ token }}">
        </div>
    </div>
</div>
{{ form_end(form, {"render_rest": false}) }}