<!DOCTYPE html>
<html lang="es">

<head>
    <style type="text/css">
        .table-border {
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .datos-productos-table{
            line-height: 7.5mm;
        }
        td{
            font-size: 15px;
        }
    </style>
    <title>{{ tipo_pdf }}</title>
</head>

<body>
{% include 'PDF/header.html.twig' %}


    <div class="table-border header">
        <table width="100%" border="0">
            <tr>
                <td>
                    <table cellpadding="5" cellspacing="5" style="padding: 0;">
                        {% if entity.cuentaCorrientePedido != null %}
                            <tr>
                                <td align="right"><strong>NOMBRE </strong></td>
                                <td>{{ entity.cuentaCorrientePedido.pedido.cliente.nombreCompleto|default('-') }}</td>
                                <td align="right"><strong>CUIT</strong></td>
                                <td>{{ entity.cuentaCorrientePedido.pedido.cliente.cuit|default('-') }}</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>CELULAR</strong></td>
                                <td>{{ entity.cuentaCorrientePedido.pedido.cliente.celular|default('-') }}</td>
                                <td align="right"><strong>DOMICILIO</strong></td>
                                <td>{{ entity.cuentaCorrientePedido.pedido.cliente.domicilio|default('-') }}</td>
                            </tr>
                        {% elseif entity.cuentaCorrienteUsuario != null %}
                            <tr>
                                <td align="right"><strong>NOMBRE </strong></td>
                                <td>{{ entity.cuentaCorrienteUsuario.cliente.nombreCompleto|default('-') }}</td>
                                <td align="right"><strong>CUIT</strong></td>
                                <td>{{ entity.cuentaCorrienteUsuario.cliente.cuit|default('-') }}</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>CELULAR</strong></td>
                                <td>{{ entity.cuentaCorrienteUsuario.cliente.celular|default('-') }}</td>
                                <td align="right"><strong>DOMICILIO</strong></td>
                                <td>{{ entity.cuentaCorrienteUsuario.cliente.domicilio|default('-') }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td align="right"><strong>NOMBRE</strong></td>
                                <td>{{ entity.reserva.cliente.nombreCompleto|default('-') }}</td>
                                <td align="right"><strong>CUIT</strong></td>
                                <td>{{ entity.reserva.cliente.cuit|default('-') }}</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>CELULAR</strong></td>
                                <td>{{ entity.reserva.cliente.celular|default('-') }}</td>
                                <td align="right"><strong>DOMICILIO</strong></td>
                                <td>{{ entity.reserva.cliente.domicilio|default('-') }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        </table>
    </div>

<div class="datos-productos">
    <table class="datos-productos-table" border="1" cellpadding="0" cellspacing="0" align="center">
        <thead>
        <tr>
            <th class="text-center">FECHA</th>
            <th class="text-center">TIPO</th>
            <th class="text-center">MONTO</th>
            <th class="text-center">MODO PAGO</th>
            <th class="text-center">{{ entity.pedido ? 'PEDIDO' : entity.cuentaCorrienteUsuario ? 'REMITO' : 'RESERVA' }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="120" align="center">{{ entity.fechaCreacion is not null ? entity.fechaCreacion|date('d/m/Y') : '-' }}</td>
            <td width="170" align="center">{{ entity.tipoMovimiento }}</td>
            <td width="170" align="center">{{ entity.monto|money_format  }}</td>
            <td width="170" align="center">{{ entity.modoPago  }}</td>
            <td width="150" align="center">{{ entity.cuentaCorrientePedido ? "N° " ~ entity.cuentaCorrientePedido.pedido.id : entity.cuentaCorrienteUsuario ? " - " : "N° " ~ entity.reserva.id }}</td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>
</div>
</body>
</html>