<!DOCTYPE html>
<html>
<head>
    <style type="text/css">

        /* Establece un margen general para todas las páginas */
        @page {
            margin-top: 5mm; /* Margen para todas las páginas excepto la primera */
        }

        .body{
            font-family: Arial, sans-serif; /* Arial es una fuente predeterminada en mPDF */
        }

        .logo-empresa{
            background: url({{ asset('images/logo/logo.png') }});
            float:left;
            background-repeat: no-repeat;
            width: 50mm;
            height: 50mm;
            background-image-resize: 3;
            overflow: hidden;
        }
        .datos-empresa-left{
            line-height: 5.7mm;
            margin-right: 430px;
            margin-top: -25px;
            text-align: right;
        }
        .datos-empresa-right{
            margin-left: 380px;
            margin-top: -129px;
            line-height: 5.7mm;
        }
        .datos-remito{
            margin-left: 650px;
            margin-top: -197px;

        }
        .datos-cliente-left{
            line-height: 6.3mm;
            margin-left: 50px;
        }
        .datos-cliente-right{
            margin-top: -49px;
            margin-left: 400px;
            line-height: 6.3mm;
        }

        .datos-productos-table{
            margin-top: 25px;
            line-height: 7.5mm;
            font-family: Arial, sans-serif;
        }
        td{
            font-size: 14px;
            margin-bottom: 50px;
        }

    </style>
</head>
<body>

<div class="body">
    <div class="datos-empresa">
        <div class="logo-empresa"></div>
        <div class="datos-empresa-left">
            <div><strong>RAZÓN SOCIAL</strong></div>
            <div><strong>CUIT</strong></div>
            <div><strong>WEB</strong></div>
            <div><strong>DIRECCIÓN</strong></div>
            <div><strong>LOCALIDAD</strong></div>
            <div><strong>TELÉFONO</strong></div>
        </div>
        <div class="datos-empresa-right">
            <div> Baby Plant srl</div>
            <div>33-71230651-9</div>
            <div>www.babyplant.com.ar</div>
            <div> 44 4303 </div>
            <div> Lis. Olmos la Plata </div>
            <div>  0221 15-669-0199 </div>
        </div>

        <div class="datos-remito">
            <div><strong>FECHA </strong>{{ entity.fechaCreacion|date('d/m/Y') }}</div>
        </div>
    </div>
    <div class="datos-cliente">
        <div class="datos-cliente-left">
            <div><strong>CLIENTE: </strong>{{ entity.cuentaCorrienteUsuario.cliente.nombreCompleto|default('-') }}</div>
            <div><strong>CUIT: </strong>{{ entity.cuentaCorrienteUsuario.cliente.cuit|default('-') }}</div>
        </div>
        <div class="datos-cliente-right">
            <div><strong>TELEFONO: </strong>{{ entity.cuentaCorrienteUsuario.cliente.celular|default('-') }}</div>
            <div><strong>TELEFONO: </strong>{{ entity.cuentaCorrienteUsuario.cliente.domicilio|default('-') }}</div>
        </div>
    </div>

    <div class="datos-productos">
        <table class="datos-productos-table" >
            <thead>
            <tr>
                <th class="text-center">FECHA</th>
                <th class="text-center">TIPO</th>
                <th class="text-center">MONTO</th>
                <th class="text-center">MODO PAGO</th>
                <th class="text-center">REFERENCIA</th>
                <th class="text-center">SALDO</th>
            </tr>
            </thead>
            <tbody>
                {% for movimiento in entity.cuentaCorrienteUsuario.movimientos %}
                <tr>
                    <td width="110" align="center">{{ movimiento.fechaCreacion is not null ? movimiento.fechaCreacion|date('d/m/Y') : '-' }}</td>
                    <td width="160" align="center">{{ movimiento.tipoMovimiento }}</td>
                    <td width="110" align="center">{{ movimiento.monto|money_format  }}</td>
                    <td width="160" align="center">{{ movimiento.modoPago  }}</td>
                    <td width="110" align="center">{{ movimiento.tipoReferencia  }}{{ movimiento.remito  }}</td>
                    <td width="110" align="center">{{ movimiento.saldoCuenta|money_format  }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
</body>
</html>