<div class="card card-detail">
    <div class="card-header d-flex justify-content-between align-items-center padding-10">
        <div class="card-title mb-0">
            <h4 class="card-label mb-0">Entregas</h4>
        </div>
        <div class="card-toolbar">
            <a href="{{ path('entrega_new', {'id': entity.id}) }}" class="btn btn-primary btn-sm">
                <i class="la la-plus"></i>
                Nueva Entrega
            </a>
        </div>
    </div>
    <div class="card-body padding-1">
        <div class="tab-content">
            <div class="tab-pane active" id="portlet_entrega_listado">
                <div class="portlet-body padding-0">
                    {% if entity.entregas|length > 0 %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-scrollable" style="border: none;overflow-y:scroll; height:400px;">
                                    <table class="table table-striped table-bordered table-advance table-hover" style="border: 1px solid #ddd;">
                                        <thead>
                                        <tr>
                                            <th class="text-center nowrap">Entrega</th>
                                            <th class="text-center nowrap">Bandejas</th>
                                            <th class="text-center nowrap">Estado</th>
                                            <th class="text-center nowrap"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for entrega in entity.entregas %}
                                            {% for entregaProducto in entrega.entregasProductos %}
                                                {% set producto = entregaProducto.pedidoProducto %}
                                                <tr>
                                                    <td class="v-middle nowrap text-center">
                                                        {{ producto|default('-') }}
                                                    </td>
                                                    <td class="v-middle nowrap text-center">
                                                        {{ entregaProducto.cantidadBandejas|default('-') }}
                                                    </td>
                                                    <td class="v-middle nowrap text-center">
                                                        <div class="label label-inline font-size-10 font-dark font-weight-bold padding-15 {{ entrega.estado.color|default('-') }}">
                                                            {{ entrega.estado|default('-') }}
                                                        </div>
                                                    </td>
                                                    <td class=" text-center dt-acciones">
                                                        <div class="dropdown dropdown-inline">
                                                            <button type="button" class="btn btn-light-primary btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="ki ki-bold-more-hor"></i>
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                {% if entrega.estado == 'SIN REMITO' %}
                                                                    <a href="{{ path( "remito_new", {id: entrega.clienteEntrega.id}) }}" class="dropdown-item">
                                                                        <i class="la la-truck" style="margin-right: 5px;"></i> Generar Remito
                                                                    </a>
                                                                {% endif %}
                                                                <a href="{{ path('entrega_show',{id: entrega.id}) }}" class="dropdown-item">
                                                                    <i class="la la-search" style="margin-right: 5px;"></i> Ver Entrega
                                                                </a>
                                                                <a href="#" class="dropdown-item link-ver-historico-entrega" data-href="{{ path('entrega_historico_estado',{id: entrega.id}) }}">
                                                                    <i class="la la-file-alt" style="margin-right: 5px;"></i> Histórico de estados
                                                                </a>
                                                                <a href="{{ path('imprimir_entrega',{id: entrega.id}) }}" class="dropdown-item">
                                                                    <i class="la la-file-pdf" style="margin-right: 5px;"></i> Imprimir Entrega
                                                                </a>
                                                                {% if entrega.clienteEntrega.celularValido %}
                                                                    <a href="https://api.whatsapp.com/send?phone={{ entrega.clienteEntrega.limpiarCelular }}&amp;text=Hola *{{ entrega.clienteEntrega.nombreCompleto }}*,%0ATe informamos que su entrega N° *{{ entrega.id }}* fue registrado correctamente.%0A{{ absolute_url(path('imprimir_entrega', {id: entrega.id|b64})) }}%0A%0A¡Gracias por tu compra! 🪴🌿%0A- *Vivero Babyplant*" target="_blank" class="dropdown-item">
                                                                        <i class="la la-whatsapp" style="margin-right: 5px; color: green;"></i> Enviar WhatsApp
                                                                    </a>
                                                                {% endif %}
                                                                {% if entrega.estado == 'SIN REMITO' %}
                                                                    <a class="dropdown-item accion-cancelar" href="{{ path( "entrega_cancelar", { "id": entrega.id, path: 'situacioncliente_show', idCliente: entity.id }) }}">
                                                                        <i class="la la-remove" style="margin-right: 5px;"></i> Cancelar
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row row-dictado-empty margin-top-20">
                            <div class="col-md-12">
                                <div class="note bg-grey-cararra font-size-13">
                                    El cliente no presenta entregas registradas.
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>