<div class="card card-detail">
    <div class="card-header">
        <div class="row">
            <div class="col-md-5"><h4>Pagos</h4></div>
            <div class="col-md-7">
                <td class="v-middle nowrap text-center">
                    <a href="{{ path('imprimir_comprobante_pago_todos',{id: entity.id}) }}" target="_blank"
                       class="btn btn-light-primary btn-icon btn-sm blue" title="Imprimir comprobante" style="width: 150px; float: right">
                        <i class="fa fa-file-pdf text-white">&nbsp;</i> Imprimir todos
                    </a>
                </td>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="tab-content" style="width: 100%;">
                <div class="tab-pane active" id="portlet_pedido_listado">
                    <div class="portlet-body padding-0">
                        <div class="row">
                            <div class="col-md-12">
                                {% if entity.remitos|length > 0 %}
                                    <div class="table-scrollable" style="border: none;overflow-y:scroll; height:400px;">
                                        <table class="table table-striped table-bordered table-advance table-hover" style="border: 1px solid #ddd;">
                                            <thead>
                                            <tr>
                                                <th class="text-center nowrap">Remito</th>
                                                <th class="text-center nowrap">Monto</th>
                                                <th class="text-center nowrap">Modo de pago</th>
                                                <th class="text-center nowrap">Fecha</th>
                                                <th class="text-center nowrap"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for remito in entity.remitos %}
                                                {% for pago in remito.pagos %}
                                                    <tr>
                                                        <td class="v-middle nowrap text-center">
                                                            {{ pago.remito|default('-') }}
                                                        </td>
                                                        <td class="v-middle nowrap text-center">
                                                            {{ pago.monto|money_format }}
                                                        </td>
                                                        <td class="v-middle nowrap text-center">
                                                            {{ pago.modoPago|default('-') }}
                                                        </td>
                                                        <td class="v-middle nowrap text-center">
                                                            {{ pago.fechaCreacion is not null ? pago.fechaCreacion|date('d/m/Y') : '-' }}
                                                        </td>
                                                        <td class="v-middle nowrap text-center">
                                                            <a href="{{ path('imprimir_comprobante_pago',{id: pago.id}) }}" target="_blank"
                                                               class="btn btn-light-primary btn-icon btn-sm blue" title="Imprimir comprobante" style="height: 25px;width: 25px;">
                                                                <i class="fa fa-file-pdf text-white"></i>
                                                            </a>
                                                            <a href="{{ path('imprimir_comprobante_pago_ticket',{id: pago.id}) }}" target="_blank"
                                                               class="btn btn-light-primary btn-icon btn-sm blue" title="Imprimir ticket" style="height: 25px;width: 25px;">
                                                                <i class="fa fa-receipt text-white"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="row row-dictado-empty margin-top-20">
                                        <div class="col-md-12">
                                            <div class="note bg-grey-cararra font-size-13">
                                                El cliente no presenta pagos.
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>