{% extends 'base.html.twig' %}

{% block title %}TipoUsuario index{% endblock %}

{% block body %}
    <h1>TipoUsuario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Id</th>
                <th>FechaCreacion</th>
                <th>FechaUltimaModificacion</th>
                <th>FechaBaja</th>
                <th>CodigoInterno</th>
                <th>Habilitado</th>
                <th>FechaDeshabilitado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_usuario in tipo_usuarios %}
            <tr>
                <td>{{ tipo_usuario.nombre }}</td>
                <td>{{ tipo_usuario.descripcion }}</td>
                <td>{{ tipo_usuario.id }}</td>
                <td>{{ tipo_usuario.fechaCreacion ? tipo_usuario.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tipo_usuario.fechaUltimaModificacion ? tipo_usuario.fechaUltimaModificacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tipo_usuario.fechaBaja ? tipo_usuario.fechaBaja|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tipo_usuario.codigoInterno }}</td>
                <td>{{ tipo_usuario.habilitado ? 'Yes' : 'No' }}</td>
                <td>{{ tipo_usuario.fechaDeshabilitado ? tipo_usuario.fechaDeshabilitado|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tipo_usuario_show', {'id': tipo_usuario.id}) }}">show</a>
                    <a href="{{ path('app_tipo_usuario_edit', {'id': tipo_usuario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tipo_usuario_new') }}">Create new</a>
{% endblock %}
