{% extends 'base.html.twig' %}
{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset(plugins_path ~ 'custom/datatables/datatables.bundle.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body %}
    <!--begin::Card-->
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
				<span class="card-icon">
					<i class="flaticon2-layers text-primary"></i>
				</span>
                <h3 class="card-label">Listado de tipo origen_semillas</h3>
            </div>
            <div class="card-toolbar">
                {% if is_granted('ROLE_MENU_CONFIGURACION') %}
                    <!--begin::Button-->
                    <a href="{{ path('app_tipo_origen_semilla_new') }}" class="btn btn-primary font-weight-bolder">
                        <i class="la la-plus"></i>
                        Agregar
                    </a>
                    <!--end::Button-->
                {% endif %}
            </div>
        </div>
        <div
                class="card-body">
            <!--begin: Datatable-->
            <table class="table table-bordered table-hover table-checkable" id="table-origen_semilla">
                <thead>
                <tr>
                    <th class="not-in-filter">ID</th>
                    <th data-type="string">Nombre</th>
                    <th class="text-center" data-type="select" data-select="{{ select_boolean }}">Habilitado</th>
                    <th data-type="search">Acciones</th>
                </tr>
                </thead>
            </table>
            <!--end: Datatable-->
        </div>
    </div>
    <!--end::Card-->
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset(plugins_path ~ 'custom/datatables/datatables.bundle.js') }}"></script>

    <script src="{{ asset(__PREFIX_JAVASCRIPT__ ~ 'config/config-datatables.js') }}"></script>
    <script src="{{ asset(__PREFIX_JAVASCRIPT__ ~ 'app/tipoorigensemilla/index.js') }}"></script>

{% endblock %}