<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        .table-border {

            margin-bottom: 10px;
        }
        .datos-productos-table{
            line-height: 7.5mm;
        }
        td{
            font-size: 15px;
        }
    </style>
</head>

<body>
{% include 'PDF/header_reporte.html.twig' %}
<div class="table-border header">
    <table width="100%" border="0">
        <tr>
            <td>
                <table cellpadding="5" cellspacing="5" style="padding: 0;">
                    <tr>
                        <td align="right"><strong>NOMBRE</strong></td>
                        <td>{{ entity.nombreCompleto|default('-') }}</td>
                        <td align="right"><strong>CUIT</strong></td>
                        <td>{{ entity.cuit|default('-') }}</td>
                    </tr>
                    <tr>
                        <td align="right"><strong>CELULAR</strong></td>
                        <td>{{ entity.celular|default('-') }}</td>
                        <td align="right"><strong>DOMICILIO</strong></td>
                        <td>{{ entity.domicilio|default('-') }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
    <div class="datos-productos">
        <table class="datos-productos-table" border="0" cellpadding="0" cellspacing="0" align="center">
            <thead>
            <tr>
                <th class="text-center">FECHA</th>
                <th class="text-center">REMITO</th>
                <th class="text-center">PAGOS</th>
                <th class="text-center">PENDIENTE REMITO</th>
                <th class="text-center">DEUDA TOTAL</th>
                <th class="text-center">A FAVOR</th>
            </tr>
            </thead>
            <tbody>
            {% for pago in pagos %}
                <tr>
                    <td width="130" align="center">{{ pago.fechaCreacion is not null ? pago.fechaCreacion|date('d/m/Y') : '-' }}</td>
                    <td width="130" align="center">{{ pago.remito }}</td>
                    <td width="130" align="center">{{ pago.monto|money_format  }}</td>
                    <td width="130" align="center">{{ pago.montoPendiente|money_format|default('-')  }}</td>
                    <td width="130" align="center">{{ pago.totalDeuda|money_format|default('-')  }}</td>
                    <td width="130" align="center">{{ pago.saldoCuentaCorriente|money_format|default('-')  }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
</body>
</html>