<!DOCTYPE html>
<html>

    <head>
        <style type="text/css">
            .table-border {
                border: 2px solid black;
                border-radius: 5px;
                margin-bottom: 10px;
            }
            .datos-productos-table{
                line-height: 7.5mm;
            }
            td{
                font-size: 15px;
            }
        </style>
    </head>

    <body>
        {% include 'PDF/header.html.twig' %}
        <div class="table-border header">
            <table width="100%" border="0">
                <tr>
                    <td>
                        <table cellpadding="5" cellspacing="5" style="padding: 0;">
                            <tr>
                                <td align="right"><strong>NOMBRE</strong></td>
                                <td>{{ entity.clienteEntrega.nombreCompleto|default('-') }}</td>
                                <td align="right"><strong>CUIT</strong></td>
                                <td>{{ entity.clienteEntrega.cuit|default('-') }}</td>
                            </tr>
                            <tr>
                                <td align="right"><strong>CELULAR</strong></td>
                                <td>{{ entity.clienteEntrega.celular|default('-') }}</td>
                                <td align="right"><strong>DOMICILIO</strong></td>
                                <td>{{ entity.clienteEntrega.domicilio|default('-') }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-border">
            <table class="datos-productos-table">
                <thead>
                <tr>
                    <th class="text-center">N° ORDEN</th>
                    <th class="text-center">PRODUCTO</th>
                    <th class="text-center">CANTIDAD</th>
                </tr>
                </thead>
                <tbody>
                {% for entregaProducto in entity.entregasProductos %}
                    <tr>
                        <td width="100" align="center">{{ entregaProducto.pedidoProducto.numeroOrdenCompleto }}</td>
                        <td width="600" align="center">{{ entregaProducto.pedidoProducto.productoBandeja }}</td>
                        <td width="100" align="center">{{ entregaProducto.cantidadBandejas }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% if entity.observacion != '' %}
            <div class="table-border">
                <table >
                        <tr>
                            <td align="center">{{ entity.observacion }}</td>
                        </tr>
                </table>
            </div>
        {% endif %}
    </body>
</html>