{% extends 'base.html.twig' %}

{% set edit = form.vars.value.id != null %}

{% import 'app/_macro_form.html.twig' as macro_form %}

{% block body %}
    {{ form_start(form, {'attr': {'name': 'devolucion', 'class' : 'horizontal-form', 'novalidate': 'novalidate'} }) }}
    {% include ('app/_fields_errors.html.twig') %}

    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon"><i class="flaticon2-refresh-1 text-primary"></i></span>
                <h3 class="card-label">{{ edit ? 'Editar' : 'Nueva' }} devolución</h3>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                {{ macro_form._new_field(form.fechaDevolucion, 'col-md-6') }}
                {{ macro_form._new_field(form.vendias, 'col-md-3') }}
                {{ macro_form._new_field(form.pagas, 'col-md-3') }}
            </div>
            <div class="row">
                {{ macro_form._new_field(form.cliente, 'col-md-6') }}
                {{ macro_form._new_field(form.entregaProducto, 'col-md-6') }}
            </div>
            <div class="row" id="datos-producto" style="display: none;">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Producto</label>
                        <input type="text" id="info_producto" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label">N° Orden</label>
                        <input type="text" id="info_numero_orden" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Bandejas Entregadas</label>
                        <input type="text" id="info_bandejas" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label">Mesada</label>
                        <input type="text" id="info_mesada" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">N° Pedido</label>
                        <input type="text" id="info_pedido" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Precio Unitario</label>
                        <input type="text" id="info_precio" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ macro_form._new_field(form.cantidadBandejas, 'col-md-4') }}
                <div class="col-md-4 d-none">
                    {{ form_row(form.precioUnitario) }}
                </div>
                <div class="col-md-4 d-none">
                    <div class="form-group">
                        <label class="control-label">Valor Total</label>
                        <input type="text" id="devolucion_valor_total" class="form-control" readonly value="0,00">
                    </div>
                </div>
            </div>
            <div class="row">
                {{ macro_form._new_field(form.observacion, 'col-md-12') }}
            </div>
        </div>

        <div class="card-footer d-flex justify-content-between">
            <a href="{{ path('devolucion_index') }}" class="btn btn-light-dark font-weight-bold">Volver</a>
            <button type="submit" id="devolucion_submit" class="btn btn-light-primary font-weight-bold submit-button">
                {{ edit ? 'Guardar' : 'Agregar' }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset(__PREFIX_JAVASCRIPT__ ~ 'config/config-form.js') }}"></script>
    <script src="{{ asset(__PREFIX_JAVASCRIPT__ ~ 'app/devolucion/new.js') }}"></script>

    <script>
        var preserve_values = {{ edit ? 'true' : 'false' }};
    </script>
{% endblock %}
