{% import 'app/_macro_form.html.twig' as macro_form %}

{% set tienePedidoProducto = entity.pedidosProductos|length > 0 %}

<div class="row row-pedido-producto-empty margin-top-20">
    <div class="col-md-12">
        <div class="alert alert-danger alert-form-error" style="background-color: #fbe1e3;color: brown;">
            Debe ingresar al menos un producto.
        </div>
    </div>
</div>

<div class="row-form-pedido-producto">
<div class="row">
    {{ macro_form._new_field(form.pedidoProducto.tipoProducto, 'col-md-4') }}
    {{ macro_form._new_field(form.pedidoProducto.tipoSubProducto, 'col-md-4') }}
    {{ macro_form._new_field(form.pedidoProducto.tipoVariedad, 'col-md-4') }}
</div>
<div class="row">
    {{ macro_form._new_field(form.pedidoProducto.tipoOrigenSemilla, 'col-md-3') }}
    {{ macro_form._new_field(form.pedidoProducto.cantBandejasPedidas, 'col-md-3') }}
    {{ macro_form._new_field(form.pedidoProducto.tipoBandeja, 'col-md-3') }}
    {{ macro_form._new_field(form.pedidoProducto.cantSemillas, 'col-md-3') }}
</div>
<div class="row">
    {{ macro_form._new_field(form.pedidoProducto.fechaSiembraPedido, 'col-md-3') }}
    <div class="col-md-3">
        <div class="form-group">
            {{ form_label(form.pedidoProducto.cantDiasProduccion) }}
            <div class="form_field">
                {{ form_widget(form.pedidoProducto.cantDiasProduccionSelect, {'attr': {'class' : 'form-control col-md-4', 'style': 'display: inline' }}) }}
                {{ form_widget(form.pedidoProducto.cantDiasProduccion, {'attr': {'class' : 'form-control col-md-7', 'style': 'display: inline' }}) }}
            </div>
        </div>
    </div>
    {{ macro_form._new_field(form.pedidoProducto.fechaEntregaPedido, 'col-md-3') }}
    <div class="col-md-3 pull-left">
        <div class="form-group">
            <button class="btn btn-light-primary font-weight-bold margin-top-25 link-save-pedido-producto spinner-primary">
                Agregar Producto
            </button>
        </div>
    </div>
</div>

</div>


<div class="col-md-12 row row-pedido-producto margin-top-15" {{ tienePedidoProducto ? '' : 'style="display:none;"' }}>
<div class="col-md-12">
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
            <tr>
                <th class="text-center">Tipo Producto</th>
                <th class="text-center">Sub Tipo Producto</th>
                <th class="text-center">Tipo Variedad</th>
                <th class="text-center">Tipo Bandeja</th>
                <th class="text-center">Cantidad de Semillas</th>
                <th class="text-center">Cantidad de Bandejas</th>
                <th class="text-center">Orgen Semilla</th>
                <th class="text-center">Fecha de Siembra</th>
                <th class="text-center">Dias</th>
                <th class="text-center">Fecha de Entrega</th>
                <th class="nowrap text-center"></th>
            </tr>
            </thead>
            <tbody class="tbody-pedido-producto">

            {% for pedidoProducto in entity.pedidosProductos %}
                <tr class="tr-pedido-producto">
                    <td class="hidden">
                        <input type="hidden" name="pedido[pedidosProductos][{{ loop.index0 }}][tipoProducto]" value="{{ pedidoProducto.tipoVariedad.tipoSubProducto.tipoProducto }}">
                    </td>
                    <td class="hidden">
                        <input type="hidden" name="pedido[pedidosProductos][{{ loop.index0 }}][tipoSubProducto]" value="{{ pedidoProducto.tipoVariedad.tipoSubProducto }}">
                    </td>
                    <td class="hidden">
                        <input type="hidden" name="pedido[pedidosProductos][{{ loop.index0 }}][tipoVariedad]" value="{{ pedidoProducto.tipoVariedad }}">
                    </td>
                    <td class="hidden">
                        <input type="hidden" name="pedido[pedidosProductos][{{ loop.index0 }}][tipoBandeja]" value="{{ pedidoProducto.tipoBandeja }}">
                    </td>
                    <td class="hidden">
                        <input type="hidden" name="pedido[pedidosProductos][{{ loop.index0 }}][cantSemillas]" value="{{ pedidoProducto.cantSemillas }}">
                    </td>
                    <td class="hidden">
                        <input type="hidden" name="pedido[pedidosProductos][{{ loop.index0 }}][cantBandejasPedidas]" value="{{ pedidoProducto.cantBandejasPedidas }}">
                    </td>
                    <td class="hidden">
                        <input type="hidden" name="pedido[pedidosProductos][{{ loop.index0 }}][origenSemilla]" value="{{ pedidoProducto.tipoOrigenSemilla }}">
                    </td>
                    <td class="hidden">
                        <input type="hidden" name="pedido[pedidosProductos][{{ loop.index0 }}][fechaSiembraPedido]" value="{{ pedidoProducto.fechaSiembraPedido|date('d/m/Y') }}">
                    </td>
                    <td class="hidden">
                        <input type="hidden" name="pedido[pedidosProductos][{{ loop.index0 }}][cantDiasProduccion]" value="{{ pedidoProducto.cantDiasProduccion }}">
                    </td>
                    <td class="hidden">
                        <input type="hidden" name="pedido[pedidosProductos][{{ loop.index0 }}][fechaEntregaPedido]" value="{{ pedidoProducto.fechaEntregaPedido|date('d/m/Y') }}">
                    </td>

                    <td class="v-middle text-center">{{ pedidoProducto.tipoVariedad.tipoSubProducto.tipoProducto }}</td>
                    <td class="v-middle text-center">{{ pedidoProducto.tipoVariedad.tipoSubProducto }}</td>
                    <td class="v-middle text-center">{{ pedidoProducto.tipoVariedad }}</td>
                    <td class="v-middle text-center">{{ pedidoProducto.tipoBandeja }}</td>
                    <td class="v-middle text-center">{{ pedidoProducto.cantSemillas }}</td>
                    <td class="v-middle text-center">{{ pedidoProducto.cantBandejasPedidas }}</td>
                    <td class="v-middle text-center">{{ pedidoProducto.tipoOrigenSemilla }}</td>
                    <td class="v-middle text-center">{{ pedidoProducto.fechaSiembraPedido|date('d/m/Y') }}</td>
                    <td class="v-middle text-center">{{ pedidoProducto.cantDiasProduccion }}</td>
                    <td class="v-middle text-center">{{ pedidoProducto.fechaEntregaPedido|date('d/m/Y') }}</td>

                    <td class="text-center v-middle">
                        <a href="#" class="btn btn-sm delete-link-inline link-delete-pedido-producto pedido-producto-borrar tooltips"
                           data-placement="top" data-original-title="Eliminar">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

