{% extends 'base.html.twig' %}

{% set edit = form.vars.value.id != null %}

{% import 'app/_macro_form.html.twig' as macro_form %}

{% block body %}
    {{ form_start(form, {'attr': {'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}
    {% include ('app/_fields_errors.html.twig') %}

    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon"><i class="flaticon-search text-primary"></i></span>
                <h3 class="card-label">{{ edit ? 'Edición' : 'Ingreso'}} de pedido</h3>
                {% set submitButton = form_widget(form.submit) %}
            </div>
            <div class="card-title">
                {{ submitButton|raw }}
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                {{ macro_form._new_field(form.cliente, 'col-md-9') }}
                <div class="col-md-3">
                    <!-- Button trigger modal-->
                    <button type="button" class="btn btn-success link-agregar-cliente" data-toggle="modal" data-target="#rigstrarUsuarioModal" style="margin-top: 6%;">
                        NUEVO CLIENTE
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% include 'pedido/new.producto.html.twig' %}
                </div>
                {{ macro_form._new_field(form.observacion, 'col-md-12 observacion') }}
            </div>
        </div>

        <div class="card-footer d-flex justify-content-between">
            <a href="{{ path('pedido_index') }}" class="btn btn-light-dark font-weight-bold">Volver</a>
            {{ submitButton|raw }}
        </div>
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {"render_rest": false}) }}

    <div class="modal fade modalCliente" id="rigstrarUsuarioModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-xl-down" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(registrationForm, {'attr': {'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}
                    {% include 'registration/_form.html.twig' with {'modal' : true} %}
                    <input type="hidden" name="href" id="href" value="{{ path('app_register_ajax') }}">
                    {{ form_widget(registrationForm._token) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
                    {{ form_widget(registrationForm.submit) }}
                </div>
                {{ form_end(registrationForm, {"render_rest": false}) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset(__PREFIX_JAVASCRIPT__ ~ 'config/config-form.js') }}" ></script>
    <script src="{{ asset(__PREFIX_JAVASCRIPT__ ~ 'app/pedido/new.js') }}" ></script>
    <script src="{{ asset(__PREFIX_JAVASCRIPT__ ~ 'app/razonsocial/new.js') }}" ></script>

    <script>
        var preserve_values = {{ preserve_values is defined ? (preserve_values  ? 'true' : 'false'): 'false'}};
    </script>

{% endblock %}
