<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        .table-border {
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .datos-productos-table{
            line-height: 7.5mm;
        }
        td{
            font-size: 15px;
        }
    </style>
</head>

<body>
{% include 'PDF/header_interno.html.twig' %}
{% include 'PDF/cliente.html.twig' %}
<div class="table-border">
    <table class="datos-productos-table">
        <thead>
        <tr>
            <th class="text-center">PRODUCTO</th>
            <th class="text-center">CANT. BANDEJAS</th>
            <th class="text-center">CANT. PLANTAS ESTIMADA</th>
            <th class="text-center">FECHA SIEMBRA ESTIMADA</th>
            <th class="text-center">FECHA ENTREGA SOLICITADA</th>
        </tr>
        </thead>
        <tbody>
        {% for pedidoProducto in entity.pedidosProductos %}
            <tr>
                <td width="290" align="center" {% if pedidoProducto.estado == 'CANCELADO' %}style="text-decoration: line-through;"{% endif %}>{{ pedidoProducto.productoBandeja }} {% if pedidoProducto.estado == 'CANCELADO' %}<strong style="text-decoration: none;">(CANCELADO)</strong>{% endif %}</td>
                <td width="115" align="center" {% if pedidoProducto.estado == 'CANCELADO' %}style="text-decoration: line-through;"{% endif %}>{{ pedidoProducto.cantidadBandejasPedidas }}</td>
                <td width="125" align="center" {% if pedidoProducto.estado == 'CANCELADO' %}style="text-decoration: line-through;"{% endif %}>{{ pedidoProducto.cantSemillas * 0.9 }}</td>
                <td width="140" align="center" {% if pedidoProducto.estado == 'CANCELADO' %}style="text-decoration: line-through;"{% endif %}>{{ pedidoProducto.fechaSiembraPedido|date('d/m/Y') }}</td>
                <td width="125" align="center" {% if pedidoProducto.estado == 'CANCELADO' %}style="text-decoration: line-through;"{% endif %}>{{ pedidoProducto.fechaEntregaPedido|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>

{# <!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .entrega{
            background: url({{ asset('images/plantilla/plantilla-pedido.png') }});
            background-repeat: no-repeat;
            background-image-resize: 1;
            font-size: 16px;
            font-family: monospace;
        }
        .logo-empresa{
            background: url({{ asset('images/logo/logo.png') }});
            float:left;
            background-repeat: no-repeat;
            width: 40mm;
            height: 50.98mm;
            background-image-resize: 3;
            overflow: hidden;
            margin-left: 20px;
            margin-top: 30px;
        }
        .datos-entrega{
            margin-left: 320px;
            margin-top: -183px;
            line-height: 11mm;
            width: 350px;
            font-size: 18px;
        }
        .datos-cliente-left{
            margin-top: 26px;
            line-height: 6.2mm;
        }
        .datos-cliente-right{
            margin-top: -47px;
            margin-left: 470px;
            line-height: 6.1mm;
        }
        .datos-productos{
            margin-top: 45px;
            height: 300px;
        }
        .datos-productos-table{
            margin-left: -173px;
            line-height: 7.5mm;
            margin-top: -20px;
            font-size: 13px;
        }
        td{
            font-size: 16px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>

<div class="entrega">
    <br>
    <div class="logo-empresa" ></div>

    <div class="datos-entrega">
        <div>{{ entity.id }}</div>
        <div>{{ entity.fechaCreacion|date('d/m/Y - H:i') }}</div>
    </div>
    <div class="datos-cliente-left">
        <div><strong>{{ entity.cliente.nombreCompleto|default('-') }}</strong></div>
        <div>{{ entity.cliente.cuit|default('-') }}</div>
    </div>
    <div class="datos-cliente-right">
        <div>{{ entity.cliente.celular|default('-') }}</div>
        <div>{{ entity.cliente.domicilio|default('-') }}</div>
    </div>
    <div class="datos-productos">
        <table class="datos-productos-table" border="0" cellpadding="0" cellspacing="0" align="center">
            <thead>
            <tr>
                <th class="text-center">PRODUCTO</th>
                <th class="text-center">CANT. BANDEJAS</th>
                <th class="text-center">CANT. PLANTAS ESTIMADA</th>
                <th class="text-center">FECHA SIEMBRA ESTIMADA</th>
                <th class="text-center">FECHA ENTREGA SOLICITADA</th>
            </tr>
            </thead>
            <tbody>
            {% for pedidoProducto in entity.pedidosProductos %}
                <tr>
                    <td width="290" align="center">{{ pedidoProducto.productoBandeja }}</td>
                    <td width="115" align="center">{{ pedidoProducto.cantidadBandejasPedidas }}</td>
                    <td width="125" align="center">{{ pedidoProducto.cantSemillas * 0.9 }}</td>
                    <td width="140" align="center">{{ pedidoProducto.fechaSiembraPedido|date('d/m/Y') }}</td>
                    <td width="125" align="center">{{ pedidoProducto.fechaEntregaPedido|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>#}