<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .entrega{
            background: url({{ asset('images/plantilla/plantilla-pedido.png') }});
            background-repeat: no-repeat;
            background-image-resize: 1;
            font-size: 16px;
            font-family: monospace;
        }
        .logo-empresa{
            background: url({{ asset('images/logo/logo.png') }});
            float:left;
            background-repeat: no-repeat;
            width: 40mm;
            height: 50.98mm;
            background-image-resize: 3;
            overflow: hidden;
            margin-left: 20px;
            margin-top: 30px;
        }
        .datos-entrega{
            margin-left: 320px;
            margin-top: -183px;
            line-height: 11mm;
            width: 350px;
            font-size: 18px;
        }
        .datos-cliente-left{
            margin-top: 26px;
            line-height: 6.2mm;
        }
        .datos-cliente-right{
            margin-top: -47px;
            margin-left: 470px;
            line-height: 6.1mm;
        }
        .datos-productos{
            margin-top: 45px;
            height: 300px;
        }
        .datos-productos-table{
            margin-left: -173px;
            line-height: 7.5mm;
            margin-top: -20px;
        }
        td{
            font-size: 16px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>

<div class="entrega">
    <br>
    <div class="logo-empresa" ></div>

    <div class="datos-entrega">
        <div>{{ entity.id }}</div>
        <div>{{ entity.fechaCreacion|date('d/m/Y - H:i') }}</div>
    </div>
    <div class="datos-cliente-left">
        <div>{{ entity.cliente.nombreCompleto|default('-') }}</div>
        <div>{{ entity.cliente.cuit|default('-') }}</div>
    </div>
    <div class="datos-cliente-right">
        <div>{{ entity.cliente.telefono }}{{ entity.cliente.celular|default('-') }}</div>
        <div>{{ entity.cliente.domicilio|default('-') }}</div>
    </div>
    <div class="datos-productos">
        <table class="datos-productos-table" border="1" cellpadding="0" cellspacing="0" align="center">
            <thead>
            <tr>
                <th class="text-center">N° PRODUCTO</th>
                <th class="text-center">PRODUCTO</th>
                <th class="text-center">CANTIDAD</th>
                <th class="text-center">ENTREGA</th>
            </tr>
            </thead>
            <tbody>
            {% for pedidoProducto in entity.pedidosProductos %}
                <tr>
                    <td width="190" align="center">{{ pedidoProducto.id }}</td>
                    <td width="330" align="center">{{ pedidoProducto.productoBandeja }}</td>
                    <td width="130" align="center">{{ pedidoProducto.cantidadBandejasPedidas }}</td>
                    <td width="130" align="center">{{ pedidoProducto.fechaEntregaPedido|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>