{% extends 'base.html.twig' %}

{% import 'app/_macro_show.html.twig' as macro_show %}

{% block stylesheets %}

    {{ parent() }}

    <style type="text/css">
        .card.card-detail .card-header {
            padding: 15px;
            background-color: #f5f5f5;
        }

        .card.card-detail {
            margin-bottom: 20px;
        }
    </style>

{% endblock %}

{% block body %}
<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon"><i class="flaticon-search text-primary"></i></span>
            <h3 class="card-label">{{ entity }}</h3>
        </div>
        <div class="card-toolbar">
            {# include 'pedido/header_acciones_button.html.twig' with {'entity': entity } #}
        </div>
    </div>
    <div class="card-body">
        {% for producto in entity.pedidosProductos %}
            <div class="card card-detail" id="{{ producto.id }}">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-5"><h4>Producto N째 {{producto.id }}</h4></div>
                        <div class="col-md-5">
                            <div class="dropdown dropdown-inline col-md-1" style="float: right">
                                <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown"> Acciones
                                </button>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <ul class="navi flex-column navi-hover py-2">
                                        {% if is_granted('ROLE_PEDIDO') %}
                                            <li class="navi-item">
                                                <a href="#" data-href="{{ path( "pedido_historico_estado", { "id": producto.id }) }}" class="navi-link link-ver-historico-pedido">
                                                        <span class="navi-icon">
                                                            <i class="la la-refresh"></i>
                                                        </span>
                                                    <span class="navi-text">Historico estados</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {{ macro_show._show_detail('Numero Orden', producto.numeroOrdenCompleto|default('-'), 'col-md-2') }}
                        {{ macro_show._show_detail('Nombre producto', producto.nombreCompleto|default('-'), 'col-md-4') }}
                        {{ macro_show._show_detail('Origen Semilla', producto.tipoOrigenSemilla.nombre|default('-'), 'col-md-2') }}
                        {{ macro_show._show_detail('Cantidad Semillas', producto.cantSemillas|default('-'), 'col-md-2') }}
                        {{ macro_show._show_detail('Fecha pedido', producto.fechaCreacion is not null ? producto.fechaCreacion|date("d/m/Y") : '-', 'col-md-2') }}
                        {{ macro_show._show_detail('Fecha de siembra pedido', producto.fechaSiembraPedido is not null ? producto.fechaSiembraPedido|date("d/m/Y") : '-', 'col-md-2') }}
                        {{ macro_show._show_detail('Fecha de siembra real', producto.fechaSiembraReal is not null ? producto.fechaSiembraReal|date("d/m/Y") : '-', 'col-md-2') }}
                        {{ macro_show._show_detail('Fecha de entrega pedido', producto.fechaEntregaPedido is not null ? producto.fechaEntregaPedido|date("d/m/Y") : '-', 'col-md-2') }}
                        {{ macro_show._show_detail('Fecha de entrega real', producto.fechaEntregaPedidoReal is not null ? producto.fechaEntregaPedidoReal|date("d/m/Y") : '-', 'col-md-2') }}
                        {{ macro_show._show_detail('Estado', producto.estado|default('-'), 'col-md-2') }}
                        {{ macro_show._show_detail('Tipo Bandeja', producto.tipoBandeja.nombre|default('-'), 'col-md-2') }}

                        {{ macro_show._show_detail('Cantidad Bandejas Pedidas', producto.cantidadBandejasPedidas|default('-'), 'col-md-2') }}
                        {{ macro_show._show_detail('Cantidad Bandejas Reales', producto.cantidadBandejasReales|default('-'), 'col-md-2') }}
                        {{ macro_show._show_detail('Cantidad Bandejas Entregadas', producto.cantidadBandejasEntregadas|default('-'), 'col-md-2') }}
                        {{ macro_show._show_detail('Cantidad Bandejas Sin Entregar', producto.cantidadBandejasSinEntregar|default('-'), 'col-md-2') }}
                        {{ macro_show._show_detail('Cantidad Bandejas Reservadas', producto.cantidadBandejasReservadasSinEntregar|default('-'), 'col-md-2') }}
                        {{ macro_show._show_detail('Cantidad Bandejas Disponibles', producto.cantidadBandejasDisponibles|default('-'), 'col-md-2') }}
                    </div>
                    {% for historicoEstados in producto.historicoEstados %}
                        {% if historicoEstados.estado.id == 2 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="label label-inline label-light-warning font-weight-bold margin-top-25 p-6" style="float: right"> <span class="fas fa-list-ul padding-right-5"></span> PLANIFICADO</span>
                                </div>
                                {{ macro_show._show_detail('Fecha de planificacion', historicoEstados.fecha is not null ? historicoEstados.fecha|date("d/m/Y H:i") : '-', 'col-md-3') }}
                                {{ macro_show._show_detail('Codigo Sobre', producto.codigoSobre|default('-'), 'col-md-3') }}
                            </div>
                        {% endif %}
                        {% if historicoEstados.estado.id == 3 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="label label-inline label-light-success font-weight-bold margin-top-25 p-6" style="float: right"> <span class="fas fa-leaf padding-right-5"></span> SEMBRADO</span>
                                </div>
                                {{ macro_show._show_detail('Fecha de siembra', producto.fechaSiembraReal is not null ? producto.fechaSiembraReal|date("d/m/Y H:i") : '-', 'col-md-3') }}
                            </div>
                        {% endif %}
                        {% if historicoEstados.estado.id == 4 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="label label-inline label-light-primary font-weight-bold margin-top-25 p-6" style="float: right"> <span class="fas fa-list-ul padding-right-5"></span> EN CAMARA</span>
                                </div>
                                {{ macro_show._show_detail('Fecha de entrada a camara', producto.fechaEntradaCamaraReal is not null ? producto.fechaEntradaCamaraReal|date("d/m/Y H:i") : '-', 'col-md-3') }}
                                {{ macro_show._show_detail('Fecha de salida de camara', producto.fechaSalidaCamaraReal is not null ? producto.fechaSalidaCamaraReal|date("d/m/Y H:i") : '-', 'col-md-3') }}
                                {{ macro_show._show_detail('Tiempo en camara', producto.cantidadDiasEnCamara|default('-'), 'col-md-3') }}
                            </div>
                        {% endif %}
                        {% if historicoEstados.estado.id == 5 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="label label-inline label-light-info font-weight-bold margin-top-25 p-6" style="float: right"> <span class="fas fa-home padding-right-5"></span> EN INVERNACULO</span>
                                </div>
                                {{ macro_show._show_detail('Fecha de entrada a invernaculo', producto.fechaSalidaCamaraReal is not null ? producto.fechaSalidaCamaraReal|date("d/m/Y H:i") : '-', 'col-md-3') }}
                                {{ macro_show._show_detail('Mesada', producto.mesada|default('-'), 'col-md-3') }}
                                {{ macro_show._show_detail('Dias en invernaculo', producto.cantidadDiasEnInvernaculo|default('-'), 'col-md-3') }}
                            </div>
                        {% endif %}
                        {% if historicoEstados.estado.id == 6 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="label label-inline {{ historicoEstados.estado.color }} font-weight-bold margin-top-25 p-6" style="float: right"> <span class="fas fa-check padding-right-5"></span> {{ historicoEstados.estado.nombre }} </span>
                                </div>

                                {{ macro_show._show_detail('N째 Reserva', historicoEstados.reserva is not null ? historicoEstados.reserva.id : '-', 'col-md-1 text-center') }}
                                {{ macro_show._show_detail('Fecha', historicoEstados.fecha is not null ? historicoEstados.fecha|date("d/m/Y H:i") : '-', 'col-md-2') }}
                                {{ macro_show._show_detail('Bandejas Reservadas', historicoEstados.reserva is not null ? historicoEstados.reserva.cantidadBandejas : '-', 'col-md-2') }}
                                <div class="col-md-1 d-flex align-items-center justify-content-between">
                                    <a href="{{ path('reserva_show', {'id': historicoEstados.reserva.id}) }}"
                                       class="btn btn-sm btn-light-info"
                                       title="Ver detalle de la reserva">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        {% if historicoEstados.estado.id == 7 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="label label-inline {{ historicoEstados.estado.color }} font-weight-bold margin-top-25 p-6" style="float: right"> <span class="fas fa-check padding-right-5"></span> {{ historicoEstados.estado.nombre }}</span>
                                </div>
                                {{ macro_show._show_detail('N째 Entrega', historicoEstados.DatosEntrega is not null ? historicoEstados.DatosEntrega.entrega.id : '-', 'col-md-1 text-center') }}
                                {{ macro_show._show_detail('Fecha', historicoEstados.fecha is not null ? historicoEstados.fecha|date("d/m/Y H:i") : '-', 'col-md-2') }}
                                {{ macro_show._show_detail('Bandejas Entregadas', historicoEstados.DatosEntrega is not null ? historicoEstados.DatosEntrega.cantidadBandejasAEntregar : '-', 'col-md-2') }}
                                {# {{ macro_show._show_detail('Bandejas Pendientes de Entrega', historicoEstados.DatosEntrega is not null ? historicoEstados.DatosEntrega.cantidadBandejasSinEntregar : '-', 'col-md-2') }}#}
                                {% if historicoEstados.DatosEntrega is not null %}
                                    <div class="col-md-1 d-flex align-items-center justify-content-between">
                                        <a href="{{ path('entrega_show', {'id': historicoEstados.DatosEntrega.entrega.id}) }}"
                                           class="btn btn-sm btn-light-warning"
                                           title="Ver detalle de la entrega">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if historicoEstados.estado.id == 8 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="label label-inline {{ historicoEstados.estado.color }} font-weight-bold margin-top-25 p-6" style="float: right"> <span class="fas fa-check padding-right-5"></span> {{ historicoEstados.estado.nombre }} </span>
                                </div>
                                {{ macro_show._show_detail('N째 Entrega', historicoEstados.DatosEntrega is not null ? historicoEstados.DatosEntrega.entrega.id : '-', 'col-md-1 text-center') }}
                                {{ macro_show._show_detail('Fecha', historicoEstados.fecha is not null ? historicoEstados.fecha|date("d/m/Y H:i") : '-', 'col-md-2') }}
                                {{ macro_show._show_detail('Bandejas Entregadas', historicoEstados.DatosEntrega is not null ? historicoEstados.DatosEntrega.cantidadBandejasAEntregar : '-', 'col-md-2') }}
                                {# {{ macro_show._show_detail('Bandejas Pendientes de Entrega', historicoEstados.DatosEntrega is not null ? historicoEstados.DatosEntrega.cantidadBandejasSinEntregar : '-', 'col-md-2') }}#}
                                {% if historicoEstados.DatosEntrega is not null %}
                                    <div class="col-md-1 d-flex align-items-center justify-content-between">
                                        <a href="{{ path('entrega_show', {'id': historicoEstados.DatosEntrega.entrega.id}) }}"
                                           class="btn btn-sm btn-light-success"
                                           title="Ver detalle de la entrega">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if historicoEstados.estado.id == 11 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="label label-inline label-light-danger font-weight-bold margin-top-25 p-6" style="float: right"> <span class="fas fa-exclamation-triangle padding-right-5"></span> {{ historicoEstados.estado.nombre }} </span>
                                </div>
                                {{ macro_show._show_detail('Reserva Cancelada', historicoEstados.fecha is not null ? historicoEstados.fecha|date("d/m/Y H:i") : '-', 'col-md-3') }}
                            </div>
                        {% endif %}
                        {% if historicoEstados.estado.id == 10 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="label label-inline label-light-danger font-weight-bold margin-top-25 p-6" style="float: right"> <span class="fas fa-exclamation-triangle padding-right-5"></span> {{ historicoEstados.estado.nombre }} </span>
                                </div>
                                {{ macro_show._show_detail('Entrega Cancelada', historicoEstados.fecha is not null ? historicoEstados.fecha|date("d/m/Y H:i") : '-', 'col-md-3') }}
                            </div>
                        {% endif %}
                        {% if historicoEstados.estado.id == 9 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="label label-inline label-light-danger font-weight-bold margin-top-25 p-6" style="float: right"> <span class="fas fa-exclamation-triangle padding-right-5"></span> {{ historicoEstados.estado.nombre }} </span>
                                </div>
                                {{ macro_show._show_detail('Fecha Cancelado', historicoEstados.fecha is not null ? historicoEstados.fecha|date("d/m/Y H:i") : '-', 'col-md-3') }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="card card-detail">
            <h4 class="card-header">Datos Cliente</h4>
            <div class="card-body">
                <div class="row">
                    {{ macro_show._show_detail('Apellido', entity.cliente.apellido|default('-'), 'col-md-4') }}
                    {{ macro_show._show_detail('Nombre', entity.cliente.nombre|default('-'), 'col-md-4') }}
                    {{ macro_show._show_detail('CUIT', entity.cliente.cuit|default('-'), 'col-md-4') }}
                    {{ macro_show._show_detail('Email', entity.cliente.email|default('-'), 'col-md-4') }}
                    {{ macro_show._show_detail('Celular', entity.cliente.celular|default('-'), 'col-md-4') }}
                    {{ macro_show._show_detail('Domicilio', entity.cliente.domicilio|default('-'), 'col-md-4') }}
                </div>
                <div class="row">
                    {{ macro_show._show_detail('Razon Social', entity.cliente.razonSocial.razonSocial|default('-'), 'col-md-2') }}
                    {{ macro_show._show_detail('CUIT Razon Social', entity.cliente.razonSocial.cuit|default('-'), 'col-md-2') }}
                </div>
            </div>
        </div>
        <div class="card card-detail">
            <h4 class="card-header">Observaciones</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="detalle_show">{{ entity.observacion|default('-') }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="{{ path('pedido_index') }}" class="btn btn-light-dark font-weight-bold">Volver al listado</a>
        </div>
    </div>
    <!-- Modal-->
    <div class="modal fade" id="exampleModalCustomScrollable" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Historico Estados</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div data-scroll="false" data-height="300">
                        {% include 'pedido/historico_estados.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset(__PREFIX_JAVASCRIPT__ ~ 'app/pedido/show.js') }}" ></script>

{% endblock %}

