{% set __PREFIX_JAVASCRIPT__ = constant('App\\Entity\\Constants\\ConstanteAPI::PREFIX_JAVASCRIPT') %}
<!DOCTYPE html>
<html lang="en" translate="no">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if page_title is defined %}
                {{ page_title ~ ' | PORTAL'}}
            {% endif %}
            {% if application_name is defined %}
                {{ application_name ~ ' | PORTAL'}}
            {% endif %}
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    {% if app.environment == 'dev' %}
        <!-- No cache -->
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
    {% endif %}

    {% set theme_path   = 'theme/' %}
    {% set image_path = 'images/' %}
    {% set uploads_path = 'uploads/' %}
    {% set js_path      = theme_path ~ 'js/' %}
    {% set css_path     = theme_path ~ 'css/' %}
    {% set plugins_path = theme_path ~ 'plugins/' %}
    {% set fonts_path = 'fonts/' %}

    {% block stylesheets %}
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <!--begin::Fonts-->
        <link rel="stylesheet" href="{{ asset(fonts_path ~ 'poppins.css') }}"/>
        <!--end::Fonts-->

        <!--begin::Global Theme Styles(used by all pages)-->
        <link href="{{ asset(plugins_path ~ 'global/plugins.bundle.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(plugins_path ~ 'custom/prismjs/prismjs.bundle.css') }}" rel="stylesheet" type="text/css"/>

        <link href="{{ asset(css_path ~ 'style.bundle.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(css_path ~ 'colores.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(css_path ~ 'spinner.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(css_path ~ 'jquery-ui.css') }}" rel="stylesheet" type="text/css"/>
        <!--end::Global Theme Styles-->

        <!--begin::Layout Themes(used by all pages)-->
        <link href="{{ asset(css_path ~ 'themes/layout/header/base/light.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(css_path ~ 'themes/layout/header/menu/light.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(css_path ~ 'themes/layout/brand/light.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(css_path ~ 'themes/layout/aside/dark.css') }}" rel="stylesheet" type="text/css"/>        <!--end::Layout Themes-->
        <link href="{{ asset(css_path ~ 'custom/custom.css') }}" rel="stylesheet" type="text/css"/>
        <!--end::Layout Skins -->

        {# ToastR #}
        <link href="{{ asset('plugins/toastr-master/build/toastr.css') }}" rel="stylesheet"/>

        {# Busy Load #}
        <link href="{{ asset('plugins/busy-load/app.min.css') }}" rel="stylesheet">
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
</head>
<!-- END HEAD -->
<!-- begin::Body -->

<div id="kt_header_mobile" class="header-mobile align-items-center  header-mobile-fixed">
    <!--begin::Logo-->
    <!--end::Logo-->

    <!--begin::Toolbar-->
    <div class="d-flex align-items-center">
        <!--begin::Header Menu Mobile Toggle-->
        <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
            <span></span>
        </button>
        <!--end::Header Menu Mobile Toggle-->

        <!--begin::Topbar Mobile Toggle-->
        <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
            <i class="fas fa-user icon-2x"></i>
        </button>
        <!--end::Topbar Mobile Toggle-->
    </div>
    <!--end::Toolbar-->
</div>
<body id="kt_body"  class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed page-loading page-content">

<!-- begin:: Page -->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->

    <div class="d-flex flex-row flex-column-fluid page">
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <!--begin::Header-->
            <div id="kt_header" class="header header-fixed " style="max-height: 47px !important;">
                <div class="container-fluid d-flex align-items-stretch justify-content-between">
                    <!--begin::Header Menu Wrapper-->
                    <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                        <!--begin::Header Logo-->
                        <div class="header-logo">
                            {% if app.user != null %}
                                <a href="{{path('index_index')}}">
                                    <img id="img-logo" width="150px" height="47px" src="{{ asset(image_path ~ 'logo/logo.png') }}" alt="logo" />
                                </a>
                            {% else %}
                                <a href="#">
                                    <img id="img-logo" width="150px" height="47px" src="{{ asset(image_path ~ 'logo/logo.png') }}" alt="logo" />
                                </a>
                            {% endif %}
                        </div>
                        <!--end::Header Logo-->
                        <!--begin::Header Menu-->
                        <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default header-menu-root-arrow">
                            <ul class="menu-nav">
                                {% include 'menu/menu.html.twig' %}
                            </ul>
                        </div>
                    </div>

                    {% if is_granted("ROLE_USER") %}

                        <!--begin::Topbar-->
                        <div class="topbar">
                            <!--begin::Notifications-->
                            {% include 'notificacion/index.html.twig' %}
                            <!--end::Notifications-->

                            <!--begin: User Bar -->
                            <div class="topbar-item">
                                <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                                    <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hola,</span>
                                        <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">{{ app.user.username }}</span>
                                        <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
                                        <span class="symbol-label font-size-h5 font-weight-bold">{{ app.user.username|capitalize[0:1] }}</span>
                                    </span>
                                </div>
                            </div>

                            <!-- end: User Bar -->
                        </div>
                    {% endif %}

                    <!-- end:: Header Topbar -->
                </div>
            </div>

            <div class="content d-flex flex-column flex-column-fluid page-content"
                 id="kt_content" style="padding-top: 0px">
                <!-- end:: Subheader -->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    {% block container %}
                    <div class=" container-fluid ">
                        <div id="flash-messages-container">
                            {% include 'app/_flash_messages.html.twig' %}
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                    {% endblock %}
                </div>
                <!-- end:: Content -->
            </div>
        </div>

        {% block user_panel %}
        {% if is_granted("ROLE_USER") %}
            {% include 'panel_usuario.html.twig' %}
        {% endif %}
        {% endblock %}

{% if app.user != null %}
    {% include 'footer.html.twig' %}
{% endif %}

{% block javascripts %}

    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1400
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#3699FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#E4E6EF",
                        "dark": "#181C32"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1F0FF",
                        "secondary": "#EBEDF3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#3F4254",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#EBEDF3",
                    "gray-300": "#E4E6EF",
                    "gray-400": "#D1D3E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#7E8299",
                    "gray-700": "#5E6278",
                    "gray-800": "#3F4254",
                    "gray-900": "#181C32"
                }
            },
            "font-family": "Poppins"
        };

        var __HOMEPAGE_PATH__ = '{{ path('homepage') }}';
    </script>
    <!--end::Global Config-->



    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="{{ asset(plugins_path ~ 'global/plugins.bundle.js') }}"></script>
    <script src="{{ asset(plugins_path ~ 'custom/prismjs/prismjs.bundle.js') }}"></script>
    <script src="{{ asset(js_path ~ 'scripts.bundle.js') }}"></script>
    <!--end::Global Theme Bundle-->

    <script src="{{ asset('js/functions.js') }}"></script>

    {# Bootbox #}
    <script src="{{ asset('plugins/bootbox/bootbox.js') }}" type="text/javascript"></script>

    {# Select2 ES #}
    <script src="{{ asset('plugins/select2/dist/js/i18n/es.js') }}"
            type="text/javascript"></script>

    {# Datepicker #}
    <script src="{{ asset('plugins/bootstrap-datepicker.es.js') }}"></script>

    <!--begin::Script notificaciones-->
    <script type="text/javascript" src="{{ asset('js/config/notificacion.js') }}"></script>
    <!--end::Script notificaciones-->

    <!--begin::Script menu-->
    <script type="text/javascript" src="{{ asset('js/config/menu.js') }}"></script>
    <!--end::Script menu-->

    <script type="text/javascript" src="{{ asset('js/config/config-spinner.js') }}"></script>


    {# ToastR #}
    <script src="{{ asset('plugins/toastr-master/build/toastr.min.js') }}"></script>

    {# Busy Load #}
    <script src="{{ asset('plugins/busy-load/app.min.js') }}"></script>


    <script>
        $('#btn-fscreen').on('click', function(){
            /*var elem = document.getElementById("kt_body");
            req = elem.requestFullScreen || elem.webkitRequestFullScreen || elem.mozRequestFullScreen;
            req.call(elem);
             */
            toggleFullScreen();
        });

        function toggleFullScreen() {
            if (!document.fullscreenElement &&    // alternative standard method
                !document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement ) {  // current working methods
                if (document.documentElement.requestFullscreen) {
                    document.documentElement.requestFullscreen();
                } else if (document.documentElement.msRequestFullscreen) {
                    document.documentElement.msRequestFullscreen();
                } else if (document.documentElement.mozRequestFullScreen) {
                    document.documentElement.mozRequestFullScreen();
                } else if (document.documentElement.webkitRequestFullscreen) {
                    document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                }
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                }
            }
        }
    </script>

{% endblock %}
    </div>
</div>
</body>
<!-- END BODY -->
</html>