{% import 'app/_macro_show.html.twig' as macro_show %}
<div class="card card-detail">
    <h4 class="card-header">Datos Cliente</h4>
    <div class="card-body">
        <div class="row">
            {{ macro_show._show_detail('Apellido', cliente.apellido|default('-'), 'col-md-4') }}
            {{ macro_show._show_detail('Nombre', cliente.nombre|default('-'), 'col-md-4') }}
            {{ macro_show._show_detail('CUIT', cliente.cuit|default('-'), 'col-md-4') }}
            {{ macro_show._show_detail('Email', cliente.email|default('-'), 'col-md-4') }}
            {{ macro_show._show_detail('Celular', cliente.celular|default('-'), 'col-md-4') }}
            {{ macro_show._show_detail('Domicilio', cliente.domicilio|default('-'), 'col-md-4') }}
        </div>
        <div class="row">
            {{ macro_show._show_detail('Razon Social', cliente.razonSocial.razonSocial|default('-'), 'col-md-2') }}
            {{ macro_show._show_detail('CUIT Razon Social', cliente.razonSocial.cuit|default('-'), 'col-md-2') }}
        </div>
    </div>
</div>
