{% import 'app/_macro_form.html.twig' as macro_form %}

{% set tienePedidoProducto = entity.remitosProductos|length > 0 %}

<div class="row row-remito-producto-empty margin-top-20">
    <div class="col-md-12">
        <div class="alert alert-danger alert-form-error" style="background-color: #fbe1e3;color: brown;">
            Debe ingresar al menos un producto.
        </div>
    </div>
</div>

<div class="row-form-remito-producto">
    <div class="row">
        {{ macro_form._new_field(form.remitoProducto.pedidoProducto, 'col-md-12') }}
        {{ macro_form._new_field(form.remitoProducto.cantBandejas, 'col-md-4') }}
        {{ macro_form._new_field(form.remitoProducto.precioUnitario, 'col-md-3') }}
        <div class="col-md-3 pull-left">
            <div class="form-group">
                <button class="btn btn-light-primary font-weight-bold margin-top-25 link-save-remito-producto">
                    Agregar Producto
                </button>
            </div>
        </div>
    </div>

</div>


<div class="col-md-12 row row-remito-producto margin-top-15" {{ tienePedidoProducto ? '' : 'style="display:none;"' }}>
    <div class="col-md-12">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th class="text-center">PRODUCTO</th>
                        <th class="text-center">CANTIDAD DE BANDEJAS A ENTREGAR</th>
                        <th class="text-center">PRECIO UNITARIO</th>
                        <th class="text-center">SUBTOTAL</th>
                        <th class="nowrap text-center"></th>
                    </tr>
                </thead>
                <tbody class="tbody-remito-producto">

                {% for remitoProducto in entity.remitosProductos %}
                    <tr class="tr-remito-producto">
                        <td class="hidden">
                            <input type="hidden" name="remito[remitosProductos][{{ loop.index0 }}][pedidoProducto]" value="{{ remitoProducto.pedidoProducto }}">
                        </td>
                        <td class="hidden">
                            <input type="hidden" name="remito[remitosProductos][{{ loop.index0 }}][cantBandejas]" value="{{ remitoProducto.cantBandejas }}">
                        </td>
                        <td class="hidden">
                            <input type="hidden" name="remito[remitosProductos][{{ loop.index0 }}][precioUnitario]" value="{{ remitoProducto.precioUnitario }}">
                        </td>

                        <td class="v-middle text-center">{{ remitoProducto.pedidoProducto }}</td>
                        <td class="v-middle text-center">{{ remitoProducto.cantBandejas }}</td>
                        <td class="v-middle text-center">{{ remitoProducto.precioUnitario }}</td>

                        <td class="text-center v-middle">
                            <a href="#" class="btn btn-sm delete-link-inline link-delete-remito-producto remito-producto-borrar tooltips"
                               data-placement="top" data-original-title="Eliminar">
                                <i class="fa fa-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot style="background-color: aliceblue;">
                <tr>
                    <td style="border:none;">
                        <div class="d-flex flex-row">
                            <h6 style="padding-top: 10px;">APLICAR DESCUENTO:</h6>
                            <div class="col-md-5">
                                <div class="form-group margin-0">
                                    <div class="form_field">
                                        {{ form_widget(form.tipoDescuento) }}
                                    </div>
                                </div>
                            </div>

                            {#
                            <input type="text" style="font-size: 1.0em; max-width: 150px" onkeyup="calcularSubtotal(this)" onpaste="calcularSubtotal(this);" class="form-control ml-2 input-descuento font-weight-bold text-center">
                            #}
                            <div class="col-md-3">
                                <div class="form-group margin-0">
                                    <div class="form_field">
                                        {{ form_widget(form.cantidadDescuento) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="border:none;"></td>
                    <th style="float: right;font-weight: bold;font-size: 18px;border: none;">TOTAL</th>
                    <td class="v-middle text-center total" style="font-weight: bold; font-size: 18px;border: none;"></td>
                    <td style="border:none;"></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

