<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .remito{
            background: url({{ asset('images/logo/plantilla-remitoA6.png') }});
            background-repeat: no-repeat;
            background-image-resize: 1;
            font-size: 8px;
            font-family: monospace;
        }
        .logo-empresa{
            background: url({{ asset('images/logo/logo.png') }});
            float:left;
            background-repeat: no-repeat;
            width: 20mm;
            height: 10mm;
            background-image-resize: 1;
            overflow: hidden;
            margin-left: 10px;
            margin-top: 15px;
        }
        .datos-empresa{
            margin-left: 150px;
            margin-top: -57px;
            line-height: 2.9mm;
            width: 200px;
        }
        .datos-remito{
            margin-left: 315px;
            margin-top: -50px;
            line-height: 6.3mm;
            width: 110px;
            font-size: 10px;
        }
        .datos-cliente-left{
            margin-top: 27px;
            line-height: 3.1mm;
            margin-left: 80px;
            font-size: 10px;
        }
        .datos-cliente-right{
            margin-top: -24px;
            margin-left: 270px;
            line-height: 3.1mm;
            font-size: 11px;
        }
        .datos-productos{
            margin-top: 49px;
            height: 300px;
        }
        .datos-productos-table{
            margin-left: 3px;
            margin-right: 5px;
            margin-top: -9px;
        }
        td{
            font-size: 10px;
            margin-bottom: 50px;
        }
        .total{
            height: 50px;
            margin-left: 300px;
            margin-top: -176px;
        }
    </style>
</head>
<body>

<div class="remito">
    <br>
    <div class="logo-empresa" ></div>
    <div class="datos-empresa">
        <div>Baby Plant srl</div>
        <div>33-71230651-9</div>
        <div>www.babyplant.com.ar</div>
        <div> 44 4303 </div>
        <div> Lis. Olmos la Plata </div>
        <div>  0221 15-669-0199 </div>
    </div>

    <div class="datos-remito">
        <div>{{ entity.codigo }}</div>
        <div>{{ entity.fechaCreacion|date('d/m/Y') }}</div>
    </div>

    <div class="datos-cliente-left">
        <div>{{ entity.cliente.nombreCompleto|default('-') }}</div>
        <div>{{ entity.cliente.cuit|default('-') }}</div>
    </div>

    <div class="datos-cliente-right">
        <div>{{ entity.cliente.telefono|default('-') }}</div>
        <div>{{ entity.cliente.domicilio|default('-') }}</div>
    </div>

    <div class="datos-productos">
        <table class="datos-productos-table" border="1" cellpadding="0" cellspacing="0" align="center" >
            {% for remitoProducto in entity.remitosProductos %}
                <tr>
                    <td width="77" align="center">{{ remitoProducto.pedidoProducto.numeroOrdenCompleto }}</td>
                    <td width="260" align="center">{{ remitoProducto.pedidoProducto.productoBandeja }}</td>
                    <td width="70" align="center">{{ remitoProducto.cantBandejas }}</td>
                    <td width="80" align="center">{{ remitoProducto.precioUnitario|money_format }}</td>
                    <td width="100" align="center">{{ remitoProducto.precioSubTotal|money_format }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
    <div class="total" style="font-size: 10px">
        {{ entity.total|money_format }}
    </div>
</div>
</body>
</html>