<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .remito{
            background: url({{ asset('images/logo/plantilla-remitoA6L.png') }});
            background-repeat: no-repeat;
            background-image-resize: 1;
            font-size: 12px;
            font-family: monospace;
        }
        .logo-empresa{
            background: url({{ asset('images/logo/logo.png') }});
            float:left;
            background-repeat: no-repeat;
            width: 30mm;
            height: 10mm;
            background-image-resize: 1;
            overflow: hidden;
            margin-left: 10px;
            margin-top: 15px;
        }
        .datos-empresa{
            margin-left: 200px;
            margin-top: -20px;
            line-height: 4mm;
        }
        .datos-remito{
            margin-left: 445px;
            margin-top: -67px;
            line-height: 8.4mm;
            font-size: 16px;
        }
        .datos-cliente-left{
            margin-top: 40px;
            line-height: 4.5mm;
            margin-left: 120px;
            font-size: 14px;
        }
        .datos-cliente-right{
            margin-top: -35px;
            margin-left: 390px;
            line-height: 4.5mm;
            font-size: 14px;
        }
        .datos-productos{
            margin-top: -1px;
            height: 200px;
        }
        .datos-productos-table{
            margin-top: 59px;
            margin-left: -3px;
        }
        td{
            font-size: 14px;
            margin-bottom: 50px;
        }
        .total{
            margin-left: 415px;
            margin-top: -40px;
            height: 25px;
        }
    </style>
</head>
<body>

<div class="remito">
    <br>
    <div class="logo-empresa" ></div>
    <div class="datos-empresa">
        <div>Baby Plant srl</div>
        <div>33-71230651-9</div>
        <div>www.babyplant.com.ar</div>
        <div> 44 4303 </div>
        <div> Lis. Olmos la Plata </div>
        <div>  0221 15-669-0199 </div>
    </div>

    <div class="datos-remito">
        <div>{{ entity.codigo }}</div>
        <div>{{ entity.fechaCreacion|date('d/m/Y') }}</div>
    </div>

    <div class="datos-cliente-left">
        <div>{{ entity.cliente.nombreCompleto|default('-') }}</div>
        <div>{{ entity.cliente.cuit|default('-') }}</div>
    </div>

    <div class="datos-cliente-right">
        <div>{{ entity.cliente.telefono|default('-') }}</div>
        <div>{{ entity.cliente.domicilio|default('-') }}</div>
    </div>

    <div class="datos-productos">
        <table class="datos-productos-table" border="1" cellpadding="0" cellspacing="0" align="center" >
            {% for remitoProducto in entity.remitosProductos %}
                <tr>
                    <td width="72" align="center">{{ remitoProducto.pedidoProducto.numeroOrdenCompleto }}</td>
                    <td width="243" align="center">{{ remitoProducto.pedidoProducto.productoBandeja }}</td>
                    <td width="66" align="center">{{ remitoProducto.cantBandejas }}</td>
                    <td width="75" align="center">{{ remitoProducto.precioUnitario|money_format }}</td>
                    <td width="93" align="center">{{ remitoProducto.precioSubTotal|money_format }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
    <div class="total" style="font-size: 18px">
        {{ entity.total|money_format }}
    </div>
</div>
</body>
</html>