<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        .table-border {
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .datos-productos-table{
            line-height: 7.5mm;
        }
        td{
            font-size: 15px;
        }
    </style>
</head>

<body>
{% include 'PDF/header.html.twig' %}
{% include 'PDF/cliente.html.twig' %}
<div class="table-border">
    <table class="datos-productos-table">
        <thead>
        <tr>
            <th class="text-center">N° ORDEN</th>
            <th class="text-center">PRODUCTO</th>
            <th class="text-center">CANTIDAD</th>
            <th class="text-center">PRECIO U.</th>
            <th class="text-center">SUBTOTAL</th>
        </tr>
        </thead>
        <tbody>
        {% for entrega in entity.entregas %}
            {% for entregaProducto in entrega.entregasProductos %}
                <tr>
                    <td width="103" align="center">{{ entregaProducto.pedidoProducto.numeroOrdenCompleto }}</td>
                    <td width="345" align="center">{{ entregaProducto.pedidoProducto.productoBandeja }}</td>
                    <td width="94" align="center">{{ entregaProducto.cantidadBandejas }}</td>
                    <td width="107" align="center">{{ entregaProducto.precioUnitario|money_format }}</td>
                    <td width="133" align="center">{{ entregaProducto.precioSubTotal|money_format }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>
</body>
</html>