<div class="row">
    <div class="col-md-12 datos-productos">
        <table class="datos-productos-table" border="2" cellpadding="5" cellspacing="0" align="center">
            <thead>
            <tr style="background-color: gainsboro;">
                <th class="text-center">N° ORDEN</th>
                <th class="text-center">PRODUCTO</th>
                <th class="text-center">CANTIDAD</th>
                <th class="text-center">PRECIO U.</th>
                <th class="text-center">SUBTOTAL</th>
            </tr>
            </thead>
            <tbody>
                {% for e in entrega %}
                    {% for entregaProducto in e.entregasProductos %}
                        <tr>
                            <td width="170" align="center">{{ entregaProducto.pedidoProducto.numeroOrdenCompleto }}</td>
                            <td width="395" align="center">{{ entregaProducto.pedidoProducto.productoBandeja }}</td>
                            <td width="144" align="center">{{ entregaProducto.cantidadBandejas }}</td>
                            <td width="157" align="center">{{ entregaProducto.precioUnitario|money_format }}</td>
                            <td width="183" align="right">{{ entregaProducto.precioSubTotal|money_format }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4" style="text-align: right; font-size: 18px">
                    {% if remito.adelanto > 0 %}
                        ADELANTO<br>
                    {% endif %}
                    {% if remito.tipoDescuento != null %}
                        SUBTOTAL <br>
                        {{ remito.tipoDescuento }} <br>
                    {% endif %}
                    TOTAL
                </th>
                <td align="right" colspan="2">
                    {% if remito.adelanto > 0 %}
                        {{ adelanto|money_format }} <br>
                    {% endif %}
                    {% if remito.tipoDescuento != null %}
                        {{ totalSinDescuento|money_format }}<br>
                        {{ remito.tipoDescuentoString }}{{ remito.montoDescuento|money_format }} <br>
                    {% endif %}
                    {{ total|money_format }}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>