<li class="menu-item " aria-haspopup="true">
    <a href="{{ path('factura_new') }}" class="menu-link ">
        <span class="menu-text">Agregar Factura</span>
    </a>
</li>
<li class="menu-item " aria-haspopup="true">
    <a href="{{ path('factura_index') }}" class="menu-link ">
        <span class="menu-text">Ver Facturas</span>
    </a>
</li>
<hr class="m-0">
<li class="menu-item " aria-haspopup="true">
    <a href="{{ path('proveedor_new') }}" class="menu-link ">
        <span class="menu-text">Agregar Proveedor</span>
    </a>
</li>
<li class="menu-item " aria-haspopup="true">
    <a href="{{ path('proveedor_index') }}" class="menu-link ">
        <span class="menu-text">Ver Proveedores</span>
    </a>
</li>
<hr class="m-0">
<li class="menu-item " aria-haspopup="true">
    <a href="{{ path('tipoconcepto_index') }}" class="menu-link ">
        <span class="menu-text">Configurar Conceptos</span>
    </a>
</li>
<li class="menu-item " aria-haspopup="true">
    <a href="{{ path('tiposubconcepto_index') }}" class="menu-link ">
        <span class="menu-text">Configurar Sub Conceptos</span>
    </a>
</li>