<div class="portlet light bordered portlet-nivel-1" style="padding: 5px 10px; margin-left: 30px;border-radius: 5px;background-color: #E1F0FF">
    <div class="col-md-12 padding-0">
        <label>Fecha</label>
        <div class="input-daterange input-group" id="kt_datepicker">
            <input type="text" class="form-control datepicker" id="reporte_filtro_fechaDesde" name="reporte_filtro[fechaDesde]"  placeholder="Desde" value="{{ "now"|date_modify("-90 day")|date('d/m/Y') }}" />
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="la la-ellipsis-h"></i>
                </span>
            </div>
            <input type="text" class="form-control datepicker" id="reporte_filtro_fechaHasta" name="reporte_filtro[fechaHasta]" placeholder="Hasta" value="{{ "now"|date('d/m/Y') }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="reporte_filtro_cliente" class="control-label">Stock</label>
            <select class="choice form-control datatable-input" id="reporte_filtro_cliente" name="reporte_filtro[cliente]">
                <option value="">TODOS</option>
                {% for cliente in clienteSelect %}
                    <option value="{{ cliente.id }}"> {{ cliente.nombre }} {{ cliente.razon_social }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-5 padding-top-25">
            <button class="btn btn-primary btn-primary--icon" id="kt_search">
                <span>
                    <i class="la la-search"></i>
                    <span>Buscar</span>
                </span>
            </button>
            <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
                <span>
                    <i class="la la-close"></i>
                    <span>Limpiar</span>
                </span>
            </button>
        </div>
    </div>
</div>