{% extends 'base.html.twig' %}

{% import 'app/_macro_show.html.twig' as macro_show %}

{% block body %}

    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
				<span class="card-icon">
					<i class="flaticon-search text-primary"></i>
				</span>
                <h3 class="card-label">Detalles del tipo mesada
                    {{ tipo_mesada }}</h3>
            </div>
            {% if is_granted('ROLE_BANDEJA_EDIT') %}
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <a href="{{ path('app_tipo_mesada_edit', {'id': tipo_mesada.id}) }}" class="btn btn-primary font-weight-bolder">
                        <i class="la la-pen"></i>
                        Editar
                    </a>
                    <!--end::Button-->
                </div>
            {% endif %}
        </div>

        <div class="card-body">
            <div class="row">
                {{ macro_show._show_detail('Numero', tipo_mesada.nombre, 'col-md-2') }}
                {{ macro_show._show_detail('Capacidad', tipo_mesada.capacidad, 'col-md-2') }}
                {{ macro_show._show_detail('Ocupado', tipo_mesada.ocupado, 'col-md-2') }}
                {{ macro_show._show_detail('Tipo Mesada', tipo_mesada.tipoProducto, 'col-md-2') }}
                {{ macro_show._show_detail('Habilitado', tipo_mesada.habilitado == 1 ? 'Si' : 'No', 'col-md-2') }}
            </div>

            <div class="row mt-10">
                <div class="col">
                    <div class="d-flex">
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center v-middle" scope="col">ID Pedido Producto</th>
                                    <th class="text-center v-middle" scope="col">N° Orden</th>
                                    <th class="text-center v-middle" scope="col">Producto</th>
                                    <th class="text-center v-middle" scope="col">Bandejas</th>
                                    <th class="text-center v-middle" scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if tipo_mesada.mesadas != null %}
                                {% for mesada in tipo_mesada.mesadas %}
                                    {% for pedidoProductoMesada in mesada.pedidosProductosMesadas %}
                                        {% set pedidoProducto = pedidoProductoMesada.pedidoProducto %}
                                        <tr>
                                            <td class="text-center v-middle">{{ pedidoProducto.id }}</td>
                                            <td class="text-center v-middle">{{ pedidoProducto.numeroOrdenCompleto }}</td>
                                            <td class="text-center v-middle">{{ pedidoProducto }}</td>
                                            <td class="text-center v-middle">{{ mesada.cantidadBandejas }}</td>
                                            <td class="text-center v-middle">
                                                <a href="{{ path( "pedido_show", { "id": pedidoProducto.pedido.id }) }}/#{{ pedidoProducto.id}}" target="_blank">
                                                    <button type="button" class="btn btn-sm btn-primary" style="padding: 5px"><i class="fa fa-search" style="padding: 0;"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5">No hay productos en la mesada</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="{{ path('tipomesada_index') }}" class="btn btn-light-dark font-weight-bold">Volver al listado</a>
        </div>

    </div>


{% endblock %}
