{% import 'app/_macro_form.html.twig' as macro_form %}

{% set tieneMesada = entity.mesadas|length > 0 %}

<div class="row row-mesada-empty margin-top-20">
    <div class="col-md-12">
        <div class="alert alert-danger alert-form-error" style="background-color: #fbe1e3;color: brown;">
            Debe ingresar al menos una mesada.
        </div>
    </div>
</div>
{{ form_start(form, {'attr': {'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}
{{ form_widget(form._token) }}
<div class="row-form-mesada">
    <div class="row">
        {{ macro_form._new_field(form.mesada.tipoMesada, 'col-md-3') }}
        {{ macro_form._new_field(form.mesada.mesada, 'col-md-3') }}
        {{ macro_form._new_field(form.mesada.cantidadBandejas, 'col-md-3') }}
        <div class="col-md-3 pull-left">
            <div class="form-group">
                <button class="btn btn-light-primary font-weight-bold margin-top-25 link-save-mesada">
                    Agregar Mesada
                </button>
            </div>
        </div>
    </div>

</div>


<div class="col-md-12 row row-mesada margin-top-15" {{ tieneMesada ? '' : 'style="display:none;"' }}>
    <div class="col-md-12">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-advance table-hover">
                <thead>
                <tr>
                    <th class="text-center">Mesada</th>
                    <th class="text-center">Cantidad</th>
                    <th class="nowrap text-center"></th>
                </tr>
                </thead>
                <tbody class="tbody-mesada">

                {% for mesada in entity.mesadas %}
                    <tr class="tr-mesada">
                        <td class="hidden">
                            <input type="hidden" name="pedidoProducto[mesadas][{{ loop.index0 }}][mesada]" value="{{ mesada.mesada.id }}">
                        </td>
                        <td class="hidden">
                            <input type="hidden" name="pedidoProducto[mesadas][{{ loop.index0 }}][cantidadBandejas]" value="{{ mesada.cantidadBandejas }}">
                        </td>

                        <td class="v-middle text-center">{{ mesada.mesada.nombre }}</td>
                        <td class="v-middle text-center">{{ mesada.cantidadBandejas }}</td>

                        <td class="text-center v-middle">
                            <a href="#" class="btn btn-sm delete-link-inline link-delete-mesada mesada-borrar tooltips"
                               data-placement="top" data-original-title="Eliminar">
                                <i class="fa fa-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ form_end(form, {"render_rest": false}) }}
